networkx==2.0
numpy==1.14.0
onnx==1.0.0
pandas==0.21.1
Pillow==5.0.0
PyGSP==0.5.1
scikit-image==0.13.1
scikit-learn==0.19.1
scikit-plot==0.3.3
scipy==1.0.0
seaborn==0.8.1
skorch==0.1.0.post1
tensorboardX==0.8
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
torch==0.3.0.post4
torchvision==0.2.0
tqdm==4.19.5